button{
    font-family: 'Elice';
    height: 30px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    &.small{
        width: 80px;
    }
    &.big {
        width: 110px;
    }
    &.positive {
      background-color: #7b371c;
    }
    &.negative {
      background-color: #C6BFBF;
      color: black;
    }
    &.information {
      background-color: #A57966;
    }
    &.disable{
      background-color: #C6BFBF;
      color: gray;
    }
}